<!DOCTYPE html>
<html>
  <head>
    <title>Preguntas</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (min-width: 530px) and (min-device-width: 481px)' href='/stylesheets/wide.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Quiz: El juego de las preguntas</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <% if(!session.user) { %>
            <li><a href="/signin"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <%} else { %>
            <li><a href="/users"> Ver todos los usuarios</a></li>
            <li><a href="/quizes">Ver todas las preguntas</a></li>
            <li><a href="/quizes/preguntas/new"> Crear pregunta</a></li>
            <li><a href="/quizes/user/perfil"><span class="right"></span><%= session.user.username %></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          <%}%>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
	<section class="main" id="s1">
    <% if(errors["pregunta"]) { %>
        <span class='ErrorMsgs'><%= errors["pregunta"] %></span>
    <% } %>
    <br>
    <% if(errors["respuesta"]) { %>
        <span class='ErrorMsgs'><%= errors["respuesta"] %></span>
    <% } %>
    <br><br>
		<%- body %>
	</section>
     </div>
     <footer class="main" id="f1">
       <a href= "https://github.com/RebeccaMartinez"> Rebecca Martínez Galán</a>
       <a href= "https://github.com/quinoescobar" id="joaquin"> José Joaquin Escobar Gómez</a>
      <footer>
  </body>
</html>
