* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px, Arial, serif;
}

section {
  background: white;
  text-align: left;
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
}

#img_princi{
  width: 130%;
}

#div_texto{
  padding-top: 3%;
  text-align: justify;
}

#div_texto h3{
  text-align: center;
}

#btn1, #btn2{
    margin-left: 10%;
}

#resultado {
  padding-left: 5%;
}

form {
  padding-left: 5%;
}

footer {
  background: #eee;
  text-align: center;
  margin-top: 4%;
}

.ErrorMsgs {
  color:red;
  font-size: smaller
}
