<label for="preg" class="rem">Pregunta: </label>
<input type"text" id="preg" class="form-control" name="quiz[pregunta]" placeholder="Pregunta"/><p><br>
<label for="resp" class="rem">Respuesta: </label>
<textarea id="resp" class="form-control" name="quiz[respuesta]" rows="4" placeholder="Respuesta"/></textarea><p>
<label> Tipo de pregunta</label>
<select class="form-control" name="quiz[tipo]">
  <option value="corta"> Respuesta corta</option>
  <option value="larga"> Respuesta larga</option>
</select>
<input type="hidden" id="id" name="quiz[UserId]" value="<%= session.user.id%>"/><p>
<button type="submit" class="btn btn-primary" name="button">Guardar pregunta</button>
<a href="/quizes"><button class="btn btn-primary" name="button">Cancelar</button></a>
