<label for="preg" class="rem">Pregunta: </label>
<input type"text" id="preg" class="form-control" name="quiz[pregunta]" placeholder="Pregunta"/><p>
<label for="resp" class="rem">Respuesta: </label>
<input type"text" id="resp" class="form-control" name="quiz[respuesta]" placeholder="Respuesta"/><p>
<label> Tipo de pregunta</label>
<select class="form-control" name="quiz[tipo]">
  <option value="corta"> Respuesta corta</option>
  <option value="larga"> Respuesta larga</option>
</select>
<input type="hidden" id="id" name="quiz[UserId]" value="<%= session.user.id%>"/><p>
<a href="/quizes"><button type="button" name="button">Cancelar</button></a>
<input type="submit" value="Guardar pregunta"/>
