<label for="preg" class="rem">Pregunta: </label>
<input type"text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta%>"/><p>
<label for="resp" class="rem">Respuesta: </label>
<%if(quiz.tipo == "corta"){%>
  <input type"text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta%>"/><p>
<%} else { %>
  <textarea class="form-control" rows="5" name="quiz[respuesta]"><%= quiz.respuesta%></textarea>
<%}%>
<a href="/quizes"><button type="button" name="button">Cancelar</button></a>
<input type="submit" value="Guardar pregunta"/>
