<div id="resultado" class="col-md-offset-3">
  <h3><%= respuesta %> </h3>
  <a href="/quizes/<%= quiz.id %>"> <button type="button" class="btn btn-primary btn-sm"> Volver</button></a>
  <a href="/"> <button type="button" class="btn btn-primary btn-sm"> Volver a inicio </button></a>
</div>
