<div class="col-md-5 col-md-offset-1">
	<img src="images/quiz3.png" id="img_princi"/>
</div>
<div class="col-md-4 col-md-offset-2">
<h3> Preguntas </h3>
<table>
<% var i; for(i = 0; i < quizes.length; i++) { %>
	<tr>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
	</tr>
<% } %>
</table>
</div>
