<div class="col-md-4 col-md-offset-2" id="div_texto">
<h3>Hasta la proxima <=% session.user.username %> </h3><br><br>
<p>Log Out realizado con éxito</p><br><br>

<a href="/" id="btn1"><button type="button" class="btn btn-primary btn-lg" > Iniciar sesion </button></a>

</div>
<div class="col-md-5 col-md-offset-1">
  <img class="img-responsive" src="images/logout.png" id="img_princi"/>
</div>
