<div class="col-md-offset-3">
<h2>Login</h2>
<form method='POST' action='/login'>
	<div class="field">
		<lablel for="login">Login: </label><br />
		<input type="text" id="login" name="login" size="30" required="required" />
	</div>
	<div class="field">
		<lablel for="password">Password: </label><br />
		<input type="password" id="password" name="password" size="30" required="required" />
	</div>
	<div class="actions">
		<input type="submit" name="commit" value="Login" />
	</div>
</form>
</div>
