<label for="pass" class="rem">Contraseña nueva: </label>
<input type="password" id="pass" class="form-control" name="user[password]" placeholder="Contraseña nueva"/><p><br>
<input type="submit" value="Guardar"/>
<a href="/quizes/user/perfil"><button class="btn btn-primary" name="button">Cancelar</button></a>
