<div class="col-md-5 col-md-offset-1">
	<img src="images/quiz3.png" id="img_princi"/>
</div>
<div class="col-md-4 col-md-offset-2">
<h3> Usuarios </h3>
<table>
<% var i; for(i = 0; i < users.length; i++) { %>
	<tr>
		<td><a href="users/<%= users[i].id %>"><%= users[i].username %></a></td>
	</tr>
<% } %>
</table>
</div>
