<h2>Registro</h2>
<% if(errors["username"]) { %>
    <span class='ErrorMsgs'><%= errors["username"] %></span>
<% } %>
<br>
<% if(errors["password"]) { %>
    <span class='ErrorMsgs'><%= errors["password"] %></span>
<% } %>
<br><br>

<form method='POST' action='/signin'>
	<div class="field">
		<lablel for="login">Login: </label><br />
		<input type="text" id="login" name="user[username]" size="30" />
	</div>
	<div class="field">
		<lablel for="password">Password: </label><br />
		<input type="password" id="password" name="user[password]" size="30" />
	</div>
	<div class="actions">
		<input type="submit" name="commit" value="Registrar" />
	</div>
</form>