<h2>Registro</h2>
<form method='POST' action='/signin'>
	<div class="field">
		<lablel for="nombre">Login: </label><br />
		<input type="text" id="nombre" name="nombre" size="30" />
	</div>
	<div class="field">
		<lablel for="password">Password: </label><br />
		<input type="password" id="password" name="password" size="30" />
	</div>
	<div class="actions">
		<input type="submit" name="commit" value="Registrar" />
	</div>
</form>