<div class="col-md-4 col-md-offset-2" id="div_texto">
<h3>Bienvenido a Quiz: El portal para responder preguntas.</h3><br><br>
<p>GRACIAS POR REGISTRARSE, AHORA INICIE SESION.</p><br><br>

<a href="/login" id="btn1"><button type="button" class="btn btn-primary btn-lg" > Iniciar sesión </button></a>

</div>
<div class="col-md-5 col-md-offset-1">
  <img src="images/bienvenido.png" id="img_princi"/>
</div>
